$highlightColor: #f90; //bright Orange
$textColor: #222; // dark grey
$iconColor: #2a6496; // sea blue
$backgroundColor: #e9e9e9; // light grey
$additionalColor: #bcbcbc; //medium grey

body
{
    padding-top: 50px;
}
a {
	outline: 0;
}

nav
{
	.navbar-header {
		a {
			font-family: 'OSWALD', Arial, sans-serif;
	        letter-spacing: 1px;
	        text-transform: uppercase;
	        color: $highlightColor;	
		}
		.navbar-brand{
			color: $highlightColor;
		}
	}
    ul
    {
        font-family: 'OSWALD', Arial, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;

    }
	
    .navbar-collapse {
	    .navbar-nav {
	     li {
	       a {
	        color: #ffffff;
	        &:hover,  &:focus {
	          color: $highlightColor; }
	      }
		}
		}
	}
}
.container {
	#gallery-carousel {
		margin:0 -15px 25px -15px;
		
	}
	.carousel-control {
		width: 70px;
	}
	.left, .right {
		background-image: none;	
	}
	
}

.usp
{
    margin-top: -25px;
    padding-top: 15px;
    background-color: $textColor;
    span
    {
        font-size: 2em;
        margin: none;
        margin-top: -5px;
        text-align: center;
        color: $highlightColor;
    }
    p
    {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: .9em;
		margin:none;
        margin-top: -5px;
        color: $backgroundColor;
        line-height: 20px;
    }
}
.well
{
    border: none;
    margin:none;
    background-image: url("/images/patterns/pattern-89ds.png");
    .brand-and-tagline
    {
        font-family: 'Open Sans', Arial, sans-serif;
        margin-bottom: 20px;
        color: $textColor;
        // .backgroundColor: $backgroundColor;
        .brand-name {
        	// text-transform: uppercase;
        	font-size:2em;
        	font-weight: bold;
        }
        .tag-line{
        	font-weight: bold;
        }
    }
}
.highlights{
	margin: none;
	margin-top: -20px;
	.panel{
		.panel-body {
		.row {
			background-color: $highlightColor;
			margin-top: -15px;
			margin-bottom: 15px;
		}
		h4{
			font-family: "OSWALD", sans-serif, Arial;
			letter-spacing: 1px;
			font-size: 1.2em;
			color: $textColor;
			padding-left: 20px;
		}
		p {
			font-family: "Open Sans", Arial, sans-serif;
			color: $textColor;
			text-align: left;
			font-size:0.9em;
			padding-left: 20px;
		}
		}
	}
}
.footer {
	// background-color: $additionalColor;
	border-top: 2px solid $textColor;
	.row {
		margin-top: -20px;
		h3 {
			font-family: "OSWALD", sans-serif, Arial;
			font-size: 1.2em;
			color: $textColor;
		}
		p {
			font-family: "Open Sans", Arial, sans-serif;
			color: $textColor;
			text-align: left;
			font-size:0.9em;
			// letter-spacing: 1px;
		}
		span {
			font-size: 1.7em;
	        color: $iconColor;
	        padding-right: 20px;
	        padding-top: 5px;
		}
	}
}
.fa-facebook, .fa-twitter, .fa-google-plus {
		padding-right: 30px;
		padding-top: 10px;
	}
.fa-envelope, .fa-phone-square {
		padding-right: 15px;
}
.fa-envelope {
	padding-right: 13px;
}
.fa-facebook, .fa-twitter, .fa-google-plus, .fa-envelope, .fa-phone-square{
color: rgb(255,153,0); /* Old browsers */
color: -moz-linear-gradient(-45deg,  rgba(255,153,0,1) 0%, rgba(198,0,0,1) 28%); /* FF3.6+ */
color: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,153,0,1)), color-stop(28%,rgba(198,0,0,1))); /* Chrome,Safari4+ */
color: -webkit-linear-gradient(-45deg,  rgba(255,153,0,1) 0%,rgba(198,0,0,1) 28%); /* Chrome10+,Safari5.1+ */
color: -o-linear-gradient(-45deg,  rgba(255,153,0,1) 0%,rgba(198,0,0,1) 28%); /* Opera 11.10+ */
color: -ms-linear-gradient(-45deg,  rgba(255,153,0,1) 0%,rgba(198,0,0,1) 28%); /* IE10+ */
color: linear-gradient(135deg,  rgba(255,153,0,1) 0%,rgba(198,0,0,1) 28%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#c60000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.copyright {
	margin-left: 15px;
	font-family: "Open Sans", Arial, sans-serif;
}
